.gameBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-gap: 2px;
    margin: 20px auto;
    max-width: 600px; 
  }
  
  .cell {
    background-color: #8a8a8a;
    border: 1px solid #777;
    padding: 20px; 
    text-align: center;
    font-size: 14px; 
    font-weight: bold;
    cursor: pointer;
    user-select: none; 
  }
  
  .cell:hover {
    background-color: #a9a9a9;
  }
  
  .cell.wasClicked {
    background-color: #bdbdbd; 
  }
  
  .cell.isBomb {
    background-color: red; 
  }
  
  .cell.adjacentBombCount-1 {
    color: blue; 
  }
  
  .cell.adjacentBombCount-2 {
    color: green; 
  }
  
  
  .row {
    display: flex;
  }
  